services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - ./backend/data:/app/data


  frontend:
    build: ./frontend/eeg-visualizer
    ports:
      - "5173:5173"
    depends_on:
      - backend
